@*@model IndexViewModel*@
@model Client
@{
    ViewData["Title"] = "Votre Profil : ";
    ViewData.AddActivePage(ManageNavPages.Index);
}



@*@Html.Partial("_StatusMessage", Model.StatusMessage)*@
<h4>Titulaire du Compte : @Model.Civilite @Model.Prenom @Model.Nom</h4>
<div class="row">
    <div class="col-md-6 row">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Telephone[0].Numero"></label>
            <input asp-for="Telephone[0].Numero" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Adresse"></label>
            <p> @Model.Adresse.Rue @Model.Adresse.Complement, @Model.Adresse.CodePostal, @Model.Adresse.Ville</p>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
