@model GrandHotel.Models.ClientVm

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientVm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Civilite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Civilite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarteFidelite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarteFidelite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Societe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Societe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodePostal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
