@model GrandHotel.Models.Chambre

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Voici le récapitulatif de votre réservation </h4>
<h2>Chambre N° @ViewBag.Numero</h2>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label" ></label>
                <input asp-for="Numero" class ="form-control" value="@ViewBag.Numero" disabled="disabled"/>
            </div>
            <div class="form-group">
                <label asp-for="Etage" class="control-label"></label>
                <input asp-for="Etage" class ="form-control" value="@ViewBag.Etage" disabled="disabled"/>
            </div>
            <div class="form-group">
                <label asp-for="Bain" class="control-label"></label>
                <input asp-for="Bain" class ="form-control" value="@ViewBag.Bain" disabled="disabled"/>
            </div>
            <div class="form-group">
                <label asp-for="NbLits" class="control-label"></label>
                <input asp-for="NbLits" class="form-control" value="@ViewBag.NbLits" disabled="disabled"/>
  
            </div>
            <div class="form-group">
                <label asp-for="PrixTotal" class="control-label"></label>
                <input asp-for="PrixTotal" class="form-control" value="@ViewBag.PrixChambre" disabled="disabled"/>
              
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
