@model GrandHotel.Models.ReservationVM

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Reservations" asp-action="VéficationDisponi" method="get">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

            <div class="form-group">
                <label>Date debut Séjour</label>
                <input asp-for="JourDebutSejour" class="form-control" />
                <span asp-validation-for="JourDebutSejour" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label>Nombre de nuit</label>
                <input asp-for="NombreDeNuit" class="form-control"  />
                <span asp-validation-for="NombreDeNuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nombre de Personnes</label>
                <input asp-for="NbPersonnes" class="form-control"  min="1" max="5"/>
                <span asp-validation-for="NbPersonnes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>heure d'arrivée</label>
                <input asp-for="HeureArrivee" class="form-control" min="1" max="24" />
                <span asp-validation-for="HeureArrivee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Séjour pour le travail</label>
                <select asp-for="Travail" >
                    <option value="null">Toutes</option>
                    <option value="true">Oui</option>
                    <option value="false">Autres</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Filtrer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservations.First().NumChambreNavigation.Numero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroDeChambre)
                </td>
                <td>
                    @*<a asp-action="Details" asp-route-id="@item.IdAliment">Details</a> |*@
                    @*  <a asp-action="Details" asp-route-id="@item.IdAliment" class="btn btn-secondary glyphicon glyphicon-list " role="button"> Details</a> |*@

                </td>
            </tr>
        }
    </tbody>
</table>

@*<table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NbPersonnes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HeureArrivee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Travail)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservations.First().IdClientNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservations.First().JourNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservations.First().NumChambreNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Reservations) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NbPersonnes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeureArrivee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Travail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClientNavigation.Civilite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JourNavigation.Jour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumChambreNavigation.Numero)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>*@
