@model GrandHotel.Models.ReservationVM

@{
    ViewData["Title"] = "Index";
}
@{ 
    var date = DateTime.Today.ToString("yyyy-MM-dd");
}
<h2>Recherche</h2>

<div class="row" id="indexRecherch">
    <div class=" col-lg-offset-4 col-md-4">
        <form asp-action="VéficationDisponi" method="get">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            @*   <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

            <div class="form-group">
                <label>Date debut Séjour</label>
                <input asp-for="JourDebutSejour" class="form-control" min="@date" />
                <span asp-validation-for="JourDebutSejour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nombre de nuit</label>
                <input asp-for="NombreDeNuit" class="form-control" />
                <span asp-validation-for="NombreDeNuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nombre de Personnes</label>
                <input asp-for="NbPersonnes" class="form-control" />
                <span asp-validation-for="NbPersonnes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>heure d'arrivée</label>
                <input asp-for="HeureArrivee" class="form-control" />
                <span asp-validation-for="HeureArrivee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Séjour pour le travail</label>
                <select asp-for="Travail">

                    <option value="true">Oui</option>
                    <option value="false">Autres</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Chercher" class="btn btn-primary "/>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<table class="table table-bordered">
    <thead class="alert-danger" >
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Reservations.First().NumChambreNavigation.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations.First().NumChambreNavigation.NbLits)

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations)
        {

        <tr class="alert-success" >
            <td >
                @Html.DisplayFor(modelItem => item.NumeroDeChambre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumChambreNavigation.NbLits)
            </td>


            <td>
                @* <a asp-action="Details" asp-route-id="@item.NumChambre">Details</a> |*@
                <a asp-controller="Reservations" asp-action="Details" asp-route-id="@item.NumeroDeChambre" asp-route-ids="@ViewBag.NbreNuits"   class="btn btn-secondary glyphicon glyphicon-list " role="button"> Details</a> |
              
                @*asp-route-NbPers="@ViewBag.NbPersonnes" asp-route-Jour="@ViewBag.Jour" asp-route-Travail="@ViewBag.Travail"*@
                @*  <a asp-action="Details" asp-route-id="@item.IdAliment" class="btn btn-secondary glyphicon glyphicon-list " role="button"> Details</a> |*@

            </td>

        </tr>
        }

    </tbody>
    @{
        string phrase = "";
        if (@ViewBag.rest == 0)
        {
            phrase = "Pas de Chambre disponible avec les paramètre de recherche que vous avez saisi";  //opérator tenaire
        }

         
    }
</table>
 <p style="color:red">@phrase</p>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*<table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NbPersonnes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HeureArrivee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Travail)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservations.First().IdClientNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservations.First().JourNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservations.First().NumChambreNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Reservations) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NbPersonnes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeureArrivee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Travail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClientNavigation.Civilite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JourNavigation.Jour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumChambreNavigation.Numero)
                </td>
                <td>
                    Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>*@
